<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Laravel</title>
    </head>
    <body class="antialiased">
        <div class="container">
            <div class="row">
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Correo</th>
                        <th>Tipo de contrato</th>
                        <th>Estado</th>
                        <th>Operaciones</th>
                    </tr>
                </table>
                <div class="col">
                    @foreach($empleados as $empleado)
                        <tr>
                            <td>{{ $emplado->code}}</td>
                            <td>{{ $emplado->name}}</td>
                            <td>{{ $emplado->last_name}}</td>
                            <td>{{ $emplado->second_name}}</td>
                            <td>{{ $emplado->mail}}</td>
                            <td>{{ $emplado->contract_type}}</td>
                            <td>{{ $emplado->state}}</td>
                            <td>{{ $emplado->contract_type}}</td>

                        </tr>

                    @endforeach

                </div>
            </div>
        </div>
       
    </body>
</html>
